Checks: '*,
        -google-readability-namespace-comments,
        -llvm-header-guard,
        -llvm-include-order,
        -llvm-namespace-comment,
        -llvmlibc-*,
        -modernize-use-trailing-return-type'

WarningsAsErrors: '*'
